@page "/"

@rendermode InteractiveServer

@inject IJSRuntime JsRuntime
@inject HttpClient HttpClient

@using System.Text.Json
@using System.Diagnostics

<div class="page-container">
    <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center">
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment=" HorizontalAlignment.Center">
            <audio id="audio">
                <source src="http://localhost:8000/stream" type="audio/mpeg">
            </audio>
            <div class="radio-background">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
                        <span class="radio-label"> Community Radio Station </span>
                        <FluentStack Orientation="Orientation.Vertical" AlignItems="Left">
                            <span class="metadata-label"> Artist: @CurrentArtist </span>
                            <span class="metadata-label"> Track: @CurrentTrack </span>
                        </FluentStack>
                        <FluentStack Orientation="Orientation.Vertical" AlignItems="Center">
                            <FluentStack Orientation="Orientation.Horizontal"
                                         HorizontalAlignment="HorizontalAlignment.Stretch">
                                <FluentProgress Class="radio-progress" Width="100%" Stroke="@(ProgressStroke.Large)"
                                                @bind-value="Elapsed" max="@Duration">
                                </FluentProgress>
                            </FluentStack>
                            <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween"
                                         Orientation="Orientation.Horizontal">
                                    <span class="metadata-label"> 
                                        @ElapsedTime.ToString(@"mm\:ss") 
                                    </span>
                                    <span class="metadata-label"> 
                                        @TotalDuration.ToString(@"mm\:ss")
                                    </span>
                            </FluentStack>
                        </FluentStack>
                    </FluentStack>
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center"
                                 VerticalGap="10">
                        @if (!IsConnected)
                        {
                            <FluentButton @onclick="ConnectToRadioAsync"> Connect </FluentButton>
                        }
                        else
                        {
                            <span class="metadata-label"> Connected! </span>
                        }
                    </FluentStack>
                </FluentStack>
            </div>
        </FluentStack>
    </FluentStack>
</div>

@code {
    private string CurrentTrack { get; set; } = "Unavailable";
    private string CurrentArtist { get; set; } = "Unavailable";
    private int Duration { get; set; }
    private int Elapsed { get; set; }
    private DateTime Started { get; set; }
    private TimeSpan ElapsedTime => TimeSpan.FromSeconds(Elapsed);
    private TimeSpan TotalDuration => TimeSpan.FromSeconds(Duration);
    private CancellationTokenSource? _cancellationTokenSource = new CancellationTokenSource();
    private bool IsConnected { get; set; } = false;

    [JSInvokable]
    public async Task OnMetadataChanged(string title, double timestampOffset, double timestamp)
    {
        try
        {
            var parts = title.Split(" - ");
            title = parts.FirstOrDefault(p => Guid.TryParse(p, out _)) ?? title;
            var message = await HttpClient.GetAsync($"http://admin:5179/api/Track/get/{title}");
            message.EnsureSuccessStatusCode();
            var trackInfoJson = await message.Content.ReadAsStringAsync();
            var trackInfo = JsonSerializer.Deserialize<Track>(
                trackInfoJson, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            if (trackInfo != null)
            {
                CurrentArtist = trackInfo.Artist ?? "Unknown Artist";
                CurrentTrack = trackInfo.Title ?? "Unknown Track";
                Duration = (int)trackInfo.Duration;
                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine($"Failed to deserialize track metadata for title: {title}");
            }
            
            var nowPlaying = await HttpClient.GetAsync("http://admin:5179/api/Track/get/nowplaying");
            nowPlaying.EnsureSuccessStatusCode();
            var nowPlayingJson = await nowPlaying.Content.ReadAsStringAsync();
            Console.WriteLine($"Now playing: {nowPlayingJson}");
            var nowPlayingInfo = JsonSerializer.Deserialize<NowPlayingInfo>(
                nowPlayingJson, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            if (nowPlayingInfo != null)
            {
                var playedAt = DateTimeOffset.FromUnixTimeSeconds(nowPlayingInfo.PlayedAt).UtcDateTime;
                var offset = DateTime.UtcNow - playedAt;
                Started = DateTime.UtcNow - offset;
                Elapsed = (int)offset.TotalSeconds;
                TickTimer();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching track metadata: {ex.Message}");
        }
    }

    private async Task ConnectToRadioAsync()
    {
        try
        {
            var dotNetRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("startIcecastPlayer", "http://localhost:8000/stream", dotNetRef);
            IsConnected = true;
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot play audio.");
        }
    }

    private async Task PauseAudioAsync()
    {
        try
        {
            await JsRuntime.InvokeVoidAsync("pauseAudio");
            CancelTimer();
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot pause audio.");
        }
    }

    private void CancelTimer()
    {
        _cancellationTokenSource?.Cancel();
        _cancellationTokenSource = new CancellationTokenSource();
        StateHasChanged();
    }

    private void TickTimer()
    {
        CancelTimer();
        _ = TickInBackground(_cancellationTokenSource?.Token ?? CancellationToken.None);
    }

    private async Task TickInBackground(CancellationToken cancellationToken)
    {
        using var timer = new PeriodicTimer(TimeSpan.FromMilliseconds(100));
        var timeSpan = TimeSpan.FromSeconds( Elapsed );
        var stopwatch = Stopwatch.StartNew();

        while (await timer.WaitForNextTickAsync(cancellationToken))
        {
            var totalSeconds = timeSpan.TotalSeconds + stopwatch.Elapsed.TotalSeconds;
            var elapsed = (int)Math.Min(totalSeconds, Duration);
            if (elapsed != Elapsed)
            {
                Elapsed = elapsed;
                await InvokeAsync(StateHasChanged);
            }

            if (Elapsed >= Duration)
            {
                break;
            }
        }
    }
}

