@page "/"

@rendermode InteractiveServer

@inject IJSRuntime JsRuntime
@inject HttpClient HttpClient

@using System.Text.Json
@using System.Diagnostics


<FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center">
        <audio id="audio">
            <source src="http://localhost:8000/stream" type="audio/mpeg">
        </audio>
        <FluentStack Class="radio-background" Orientation="Orientation.Vertical" VerticalGap="20">
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
                <span class="radio-label"> Radio </span>
                <FluentStack Orientation="Orientation.Vertical" AlignItems="Left">
                    <span> Artist: @CurrentArtist </span>
                    <span> Track: @CurrentTrack </span>
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" AlignItems="Center">
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Stretch"
                                 AlignItems="Center" Gap="10px">
                        <FluentProgress Width="100%" Stroke="@(ProgressStroke.Large)" @bind-value="Elapsed"
                                        max="@Duration">
                        </FluentProgress>
                    </FluentStack>
                    <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween"
                                 Orientation="Orientation.Horizontal">
                        <FluentLabel> @ElapsedTime.ToString(@"mm\:ss") </FluentLabel>
                        <FluentLabel> @TotalDuration.ToString(@"mm\:ss") </FluentLabel>
                    </FluentStack>
                </FluentStack>
            </FluentStack>
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalGap="10">
                <FluentButton @onclick="PlayAudioAsync"> Play </FluentButton>
                <FluentButton @onclick="PauseAudioAsync"> Pause </FluentButton>
            </FluentStack>
        </FluentStack>
    </FluentStack>
</FluentStack>

@code {
    private string CurrentTrack { get; set; } = "Loading...";
    private string CurrentArtist { get; set; } = "Loading...";
    private int Duration { get; set; }
    private int Elapsed { get; set; }
    private DateTime Started { get; set; }
    private TimeSpan ElapsedTime => TimeSpan.FromSeconds(Elapsed);
    private TimeSpan TotalDuration => TimeSpan.FromSeconds(Duration);
    private CancellationTokenSource? _cancellationTokenSource = new();
    
    [JSInvokable]
    public async Task OnMetadataChanged(string title, double timestampOffset, double timestamp)
    {
        try
        {
            var parts = title.Split(" - ");
            title = parts.FirstOrDefault(p => Guid.TryParse(p, out _)) ?? title;
            var message = await HttpClient.GetAsync($"http://admin:5179/api/Track/get/{title}");
            message.EnsureSuccessStatusCode();
            var trackInfoJson = await message.Content.ReadAsStringAsync();
            var trackInfo = JsonSerializer.Deserialize<Track>(
                trackInfoJson, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            if (trackInfo != null)
            {
                CurrentArtist = trackInfo.Artist ?? "Unknown Artist";
                CurrentTrack = trackInfo.Title ?? "Unknown Track";
                Duration = (int)trackInfo.Duration;
                Elapsed = (int)Math.Ceiling(timestampOffset);
                Started = DateTime.UtcNow;
                TickTimer();
                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine($"Failed to deserialize track metadata for title: {title}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching track metadata: {ex.Message}");
        }
    }

    private async Task PlayAudioAsync()
    {
        try
        {
            var dotNetRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("startIcecastPlayer", "http://localhost:8000/stream", dotNetRef);
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot play audio.");
        }
    }

    private async Task PauseAudioAsync()
    {
        try
        {
            await JsRuntime.InvokeVoidAsync("pauseAudio");
            CancelTimer();
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot pause audio.");
        }
    }

    private void CancelTimer()
    {
        _cancellationTokenSource?.Cancel();
        _cancellationTokenSource = new CancellationTokenSource();
        StateHasChanged();
    }
    
    private void TickTimer()
    {
         CancelTimer();
        _ = TickInBackground(_cancellationTokenSource?.Token ?? CancellationToken.None);
    }

    private async Task TickInBackground(CancellationToken cancellationToken)
    {
        using var timer = new PeriodicTimer(TimeSpan.FromMilliseconds(100));
        var stopwatch = Stopwatch.StartNew();
        
        while (await timer.WaitForNextTickAsync(cancellationToken))
        {
            var elapsed = (int)Math.Min(stopwatch.Elapsed.TotalSeconds, Duration);
            if (elapsed != Elapsed)
            {
                Elapsed = elapsed;
                await InvokeAsync(StateHasChanged);
            }

            if (Elapsed >= Duration)
            {
                break;
            }
        }
    }
}

