@page "/"

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient

@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using System.Diagnostics


<h1> Radio Player </h1>

<audio id="audio">
    <source src="http://localhost:8000/stream" type="audio/mpeg">
</audio>


<div> Current media playing: </div>

<div> Artist: @CurrentArtist </div>

<div> Track: @CurrentTrack </div>

<div> Elapsed: @Elapsed / @Duration </div>

<FluentProgress Width="200px" Stroke="@(ProgressStroke.Large)" @bind-value="Elapsed" max="@Duration"></FluentProgress>

<FluentSlider Label="Volume" Min="0.0" Max="1.0" Step="0.1" @Value="Volume" @ValueChanged="SetVolume"></FluentSlider>

<button @onclick="PlayAudioAsync"> Play Broadcast </button>

<button @onclick="PauseAudioAsync"> Stop Broadcast </button>

@code {
    private string CurrentTrack { get; set; } = "Loading...";
    private string CurrentArtist { get; set; } = "Loading...";
    private int Duration { get; set; } = 0;
    private int Elapsed { get; set; } = 0;
    private double Volume { get; set; } = 0.5;
    private HubConnection? _hubConnection;
    private CancellationTokenSource _cancellationTokenSource = new CancellationTokenSource();
    private Stopwatch _stopwatch = new Stopwatch();

    [JSInvokable]
    public async Task OnMetadataChanged(string title, double timestampOffset, double timestamp)
    {
        try
        {
            var parts = title.Split(" - ");
            title = parts.FirstOrDefault(p => Guid.TryParse(p, out _)) ?? title;
            var message = await HttpClient.GetAsync($"http://admin:5179/api/Track/get/{title}");
            message.EnsureSuccessStatusCode();
            if (message.Content != null)
            {
                var trackInfoJson = await message.Content.ReadAsStringAsync();            
                var trackInfo = JsonSerializer.Deserialize<Track>(
                    trackInfoJson,new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
                if (trackInfo != null)
                {
                    CurrentArtist = trackInfo.Artist ?? "Unknown Artist";
                    CurrentTrack = trackInfo.Title ?? "Unknown Track";
                    Duration = (int)trackInfo.Duration;
                    Elapsed = (int) Math.Ceiling(timestampOffset);
                    TickTimer();
                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    Console.WriteLine($"Failed to deserialize track metadata for title: {title}");
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching track metadata: {ex.Message}");
        }
    }

    private async Task PlayAudioAsync()
    {
        try
        {
            var dotNetRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("startIcecastPlayer", "http://localhost:8000/stream", dotNetRef);
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot play audio.");
            return;
        }
    }

    private async Task PauseAudioAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("pauseAudio");
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot pause audio.");
            return;
        }
    }

    private async Task SetVolumeAsync(double volume)
    {
        Volume = volume;
        try
        {
            await JSRuntime.InvokeVoidAsync("setVolume", volume);
            StateHasChanged();
        }
        catch (JSDisconnectedException)
        {
            Console.WriteLine("JSRuntime is disconnected. Cannot set volume.");
            return;
        }
    }

    private void TickTimer()
    {
        _cancellationTokenSource?.Cancel();
        _cancellationTokenSource = new CancellationTokenSource();
        _ = TickInBackground(_cancellationTokenSource.Token);
    }

    private async Task TickInBackground(CancellationToken cancellationToken)
    {
        using var timer = new PeriodicTimer(TimeSpan.FromMilliseconds(100));
        var stopwatch = System.Diagnostics.Stopwatch.StartNew();
        int elapsed = 0;

        while (await timer.WaitForNextTickAsync(cancellationToken))
        {
            elapsed = (int)Math.Min(stopwatch.Elapsed.TotalSeconds, Duration);
            if (elapsed != Elapsed)
            {
                Elapsed = elapsed;
                await InvokeAsync(StateHasChanged);
            }

            if (Elapsed >= Duration)
            {
                break;
            }
        }
    }
}

