@page "/"
@rendermode InteractiveServer

<form method="post" action="/auth/login">
    <label> email </label>
    <input name="Email" type="email" />
    <label> password </label>
    <input name="Password" type="password" />
    <button type="submit">Login</button>
</form>