@page "/"

@rendermode InteractiveServer


<div class="dev-page">
    <div class="header">
        <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween">
            <span> Community Radio Station Dashboard </span>
            <FluentButton> Upload </FluentButton>
        </FluentStack>
    </div>
    <div class="dev-metadata">
        <div class="content">
            <span> This is my content </span>
        </div>
        <div class="files">
            <span> These are my files </span>
        </div>
    </div>
</div>

@code {
}