@page "/"
@rendermode InteractiveServer

<h1> Upload file </h1>

<FluentInputFile Id="audio-uploader" Mode="InputFileMode.SaveToTemporaryFolder" MaximumFileSize="@(10 * 1024 * 1024)"
                 Accept="audio/*" OnCompleted="@OnCompletedAsync">
    <div>
        <FluentIcon Icon="Icons.Regular.Size24.ArrowUpload" />
        <p>Drag and drop files here or click to browse</p>
    </div>
</FluentInputFile>

@code {
    private const string UploadsDirectory = "/etc/music";

    private async Task OnCompletedAsync(IEnumerable<FluentInputFileEventArgs> files)
    {
        var file = files.FirstOrDefault();
        if (file?.LocalFile == null)
        {
            return;
        }

        Console.WriteLine($" Uploaded {file.Name} ({file.Size} bytes)");

        if (!Directory.Exists(UploadsDirectory))
        {
            Console.WriteLine(" - creating directory");
            Directory.CreateDirectory(UploadsDirectory);
        }
        
        var filePath = Path.Combine(UploadsDirectory, file.Name);

        try
        {
            File.Copy(file.LocalFile.FullName, filePath, overwrite: true);

            Console.WriteLine($"Copy Succeded. Exists after copy: {File.Exists(filePath)}");

            File.SetUnixFileMode(filePath,
                UnixFileMode.UserRead |
                UnixFileMode.UserWrite |
                UnixFileMode.GroupRead |
                UnixFileMode.GroupWrite |
                UnixFileMode.OtherRead);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

    }
}